body {
  font-family: "Nanum Gothic", sans-serif;
}

.navtop {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  font-size: 13px;
}

.navtop li {
  height: 30px;
  margin: 20px;
  text-align: center;
  color: #555;
  display: block;
}
